请严格遵守以下规则：
1. smart_meter 中的dao层必须使用mybatisplus框架。
2. ai-kore 中的代码必须使用FastAPI框架。
3. 请严格遵守Python和Java的代码规范。
4. 请严格遵守项目TODO列表。
5. 请严格遵守项目详细结构说明和功能分配。
6. 请严格遵守每添加一个新功能时，都要更新TODO.md文件，每个功能方法都要添加上详细的注释说明。
7. smart_meter严格遵守SpringBoot项目开发规范
8. 严格遵守我在Curosr.md文件中的项目安排和结构功能划分。
9. 每次在创建功能时，必须写好完成的功能注释和参数含义。
10. 在写好一个功能后，需要严格验证是否满足用户的需求。
11. 如果你发现有需要注意或者通用的规则和经验时，请记录到项目根目录的Cursor.md文件中，方便以后查询。
12. 每次你不知道如何进行操作时。请参考Cursor.md文件，该文件包含了项目详细结构说明和功能分配。还有TODO.md文件，该文件包含了项目进度情况和代办事项。
